body {
  background: #ffffff;
}

form {
  max-width: 400px;
  margin: 0 auto;
}

p {
  color: #bf1650;
}

p::before {
  display: inline;
  content: "⚠ ";
}

input {
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-radius: 0.25rem;
  border: 1px solid black;
  padding: 0.5rem 1rem;
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

label {
  line-height: 2;
  text-align: left;
  display: block;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: black;
  font-size: 1rem;
  font-weight: 400;
}

button[type="submit"],
input[type="submit"] {
  background: #546a78;
  color: white;
  text-transform: uppercase;
  border: none;
  margin-top: 2.5rem;
  padding: 1rem;
  font-size: 1rem;
  font-weight: 100;
}

button[type="submit"]:hover,
input[type="submit"]:hover {
  background: red;
}

button {
  display: block;
  cursor: pointer;
  margin-top: 40px;
  border: 1px solid #333;
  margin-bottom: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
}

.showHide {
  color: #ffffff;
  position: relative;
  cursor: pointer;
  background: #546a78;
  padding: 0.5rem;
  max-width: 7.5rem;
  padding: 0.25rem;
  border-radius: 0.25rem;
}
